@font-face {
  font-family: Roboto;
  src: url(webfonts/roboto/Roboto-Regular.woff);
  font-weight: normal; }

@font-face {
  font-family: Roboto-bold;
  src: url(webfonts/roboto/Roboto-Bold.woff);
  font-weight: normal; }

@font-face {
  font-family: Roboto-thin;
  src: url(webfonts/roboto/Roboto-Light.woff);
  font-weight: normal; }

/* line 1, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_global.scss */
* {
  /*font-family: Roboto;*/
  font-family: Arial; }

/* line 11, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_global.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4D96D2;
  font-family: Roboto-thin; }

/* line 15, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_global.scss */
h2 {
  border-bottom: 1px dashed #4D96D2;
  margin-bottom: 30px; }

/* line 19, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_global.scss */
h3 {
  margin-top: 0; }

/* line 3, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_charteDILA.scss */
.dila-circle {
  display: inline-block;
  margin-left: 5px;
  border-radius: 100px;
  width: 10px;
  height: 10px;
  content: ""; }
  /* line 11, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_charteDILA.scss */
  .dila-circle.indigo {
    background-color: #362D8C; }
  /* line 14, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_charteDILA.scss */
  .dila-circle.orange {
    background-color: #D76500; }
  /* line 17, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_charteDILA.scss */
  .dila-circle.violet {
    background-color: #5F48A2; }
  /* line 20, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_charteDILA.scss */
  .dila-circle.rose {
    background-color: #DA4FA0; }
  /* line 23, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_charteDILA.scss */
  .dila-circle.bleu1 {
    background-color: #4D96D2; }
  /* line 26, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_charteDILA.scss */
  .dila-circle.emeraude {
    background-color: #336A6D; }
  /* line 29, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_charteDILA.scss */
  .dila-circle.rouge {
    background-color: #FF2700; }
  /* line 32, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_charteDILA.scss */
  .dila-circle.bleu2 {
    background-color: #4D96D2; }

/* line 1, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_header.scss */
header {
  position: relative;
  z-index: 2; }
  /* line 4, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_header.scss */
  header h1 {
    padding: 7px 35px 10px 35px;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.4); }

/* line 11, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_header.scss */
main {
  position: relative;
  z-index: 1;
  max-height: 920px;
  overflow-y: auto; }

/* line 1, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_boutons.scss */
.btn {
  margin-left: 5px; }

/* line 2, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_table.scss */
th.commandCel,
td.commandCel {
  width: 150px; }

/* line 6, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_table.scss */
thead tr {
  background-color: #4D96D2;
  color: #FFFFFF; }

/* line 12, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_table.scss */
td details summary {
  cursor: pointer; }

/* line 15, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_table.scss */
td details .container {
  background-color: #EFEFEF;
  border: 1px solid #DDD;
  border-radius: 0 0 3px 3px; }
  /* line 19, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_table.scss */
  td details .container .form-group {
    margin-bottom: 0; }

/* line 1, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_loader.scss */
.loader {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(images/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  text-align: right;
  color: #6FB8F4;
  font-weight: bold;
  padding-top: 12px;
  padding-right: 5px; }
  /* line 13, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_loader.scss */
  .loader .progressbar {
    position: absolute;
    top: 10%;
    left: 0;
    display: block;
    height: 80%;
    background-color: rgba(200, 200, 200, 0.3);
    box-shadow: inset -100px 0 100px rgba(200, 200, 200, 0.3);
    border-radius: 0 5px 5px 0; }
  /* line 23, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_loader.scss */
  .loader .loader-etape {
    font-weight: normal;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 12px; }

/* line 2, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_modal.scss */
.modal .modal-body {
  max-height: 500px; }

/* line 2, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_form.scss */
.form-control:focused {
  box-shadow: 0 0 5px #e59700; }

/* line 5, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_form.scss */
.form-control[aria-invalid='true'] {
  box-shadow: 0 0 5px orangered; }
  /* line 7, C:/Users/jjacques/Google Drive/PSLConsole/css/sass/_form.scss */
  .form-control[aria-invalid='true']:focused {
    box-shadow: 0 0 5px firebrick; }

/*# sourceMappingURL=style.css.map */
