header {
	position: relative;
	z-index: 2;
	padding: 7px 35px 10px 35px;
	box-shadow: 0 0px 10px 1px rgba(0,0,0,.4);
	h1 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

#bloc-server {
	width: calc(100% + 30px);
	margin-left: -15px;
	line-height: 45px;
	padding: 5px;
	background-color: $color_bleu1;
	strong {
		color: $color_blanc;
	}
}

#start-server {
	display: none;
}